Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: モバイル表示時のカテゴリ選択での表示切り替えを実装
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: モバイル表示時の子孫項目表示を実装
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: デスクトップ表示時にcurrentにrootが追加されない問題を修正
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: 編集提案のブランチを変更
  docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

docs: textareaの見出しの誤りを修正
  docs/components/textarea.md
Due: none

fix: デスクトップ表示時にcurrent内の要素が無限に増え続ける問題を修正
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: デスクトップ表示時の子孫項目表示を実装
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: グローバルナビゲーションのスタイルを調整
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: 第1階層の横移動ができない問題を修正
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: ドキュメントにアプリケーションのナビゲーションとボタンを追加
  docs/.vitepress/config.ts
  docs/components/app-header-button.md
  docs/components/app-header-navigation.md
Due: eslint --fix, prettier --write

chore(deps): update dependency sass to v1.47.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @commitlint/cli to v16.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/preset-env to v7.16.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency chromatic to v6.3.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vite to v2.7.12
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-jest to v27.1.3
  package-lock.json
  package.json
Due: prettier --write

Release v0.3.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vitepress to v0.21.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vite to v2.7.13
  package-lock.json
  package.json
Due: prettier --write

build: 不要なパッケージを削除
  package-lock.json
  package.json
Due: prettier --write

build: storybookを更新
  package-lock.json
  package.json
Due: prettier --write

build: 不要な依存関係を削除
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.5.5
  package-lock.json
  package.json
Due: prettier --write

chore: appコンポーネントをsetup scriptで書き換え
  .eslintrc.js
  src/components/JApp/JApp.vue
  src/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: appheaderコンポーネントをsetup scriptで書き換え
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: appheaderbuttonコンポーネントをsetup scriptで書き換え
  src/components/JApp/JAppHeaderButton.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: templateからのpropsの読み込みを修正
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

style: インラインスタイルのプロパティ名をキャメルケースに変更
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ヘッダーナビゲーションコンポーネントをsetup scriptで書き換え
  src/components/JApp/JAppHeaderNavigation.vue
  src/dev/dev.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: ヘッダーナビゲーションコンポーネントのドキュメントを更新
  docs/components/app-header-navigation.md
Due: none

chore: パンくずリストコンポーネントをsetup scriptで書き換え
  src/components/JBreadcrumbs/JBreadcrumbs.stories.js
  src/components/JBreadcrumbs/JBreadcrumbs.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: アプリケーションのメインコンポーネントをsetup scriptで書き換え
  src/components/JApp/JAppMain.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: アプリケーションのサイドバーコンポーネントをsetup scriptで書き換え
  src/components/JApp/JAppSidebar.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: パンくずリストコンポーネントのnuxt指定を一括で行えるよう変更
  docs/components/breadcrumbs.md
  src/components/JBreadcrumbs/JBreadcrumbs.stories.js
  src/components/JBreadcrumbs/JBreadcrumbs.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ボタンコンポーネントをsetup scriptで書き換え
  src/components/JButton/JButton.stories.js
  src/components/JButton/JButton.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: カードコンポーネントをsetup scriptで書き換え
  src/components/JCard/JCard.stories.js
  src/components/JCard/JCard.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: コンテナコンポーネントをsetup scriptで書き換え
  docs/components/container.md
  src/components/JGrid/JContainer.vue
  src/components/JGrid/JGrid.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

docs: slotの説明文を変更
  docs/components/app-header.md
  docs/components/app-main.md
  docs/components/app-sidebar.md
  docs/components/app.md
  docs/components/col.md
  docs/components/row.md
  docs/components/spacer.md
Due: none

chore: グリッドシステムの行のコンポーネントをsetup scriptで書き換え
  src/components/JGrid/JRow.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss})
