Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: グリッドシステムの列のコンポーネントをsetup scriptで書き換え
  src/components/JGrid/JCol.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: スペーサーコンポーネントをsetup scriptで書き換え
  src/components/JGrid/JSpacer.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: アイコンコンポーネントをsetup scriptで書き換え
  src/components/JIcon/JIcon.stories.js
  src/components/JIcon/JIcon.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 画像コンポーネントをsetup scriptで書き換え
  src/components/JImage/JImage.stories.js
  src/components/JImage/JImage.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: transitionクラスの誤りを修正
  src/components/JImage/JImage.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 画像コンポーネントのpropsの値を読み込む記述を修正
  src/components/JImage/JImage.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 入力コンポーネントをsetup scriptで書き換え
  src/components/JInput/JInput.stories.js
  src/components/JInput/JInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): update storybook monorepo to v6.4.16
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @vitejs/plugin-vue to v2.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vue to v3.2.29
  package-lock.json
  package.json
Due: prettier --write

chore: テキストエリアコンポーネントをsetup scriptで書き換え
  src/components/JInput/JTextarea.stories.js
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストエリアコンポーネントの型指定を調整
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドコンポーネントをsetup scriptで書き換え
  src/components/JInput/JTextField.stories.js
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): update dependency @commitlint/cli to v16.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: ページネーションコンポーネントをsetup scriptで書き換え
  src/components/JPagination/JPagination.stories.js
  src/components/JPagination/JPagination.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: プログレスバーコンポーネントをsetup scriptで書き換え
  src/components/JProgress/JProgressBar.stories.js
  src/components/JProgress/JProgressBar.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: プログレスサークルコンポーネントをsetup scriptで書き換え
  src/components/JProgress/JProgressCircle.stories.js
  src/components/JProgress/JProgressCircle.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: シートコンポーネントをsetup scriptで書き換え
  src/components/JSheet/JSheet.stories.js
  src/components/JSheet/JSheet.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テーブルコンポーネントをsetup scriptで書き換え
  docs/components/table.md
  src/components/JTable/JTable.stories.js
  src/components/JTable/JTable.vue
  src/dev/dev.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テーブルヘッダーコンポーネントをsetup scriptで書き換え
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テーブルフッターコンポーネントをsetup scriptで書き換え
  src/components/JTable/JTableFooter.vue
Due: eslint --fix, prettier --write, stylelint --fix

style: vueファイルのタグ順序チェックの設定を変更
  .eslintrc.js
  src/dev/dev.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: viteでビルドを実行するよう変更
  .babelrc.js
  .browserslistrc
  .eslintrc.js
  index.html
  package-lock.json
  package.json
  public/favicon.ico
  rollup.config.js
  src/build.ts
  src/components/JButton/JButton.vue
  src/components/JPagination/JPagination.vue
  src/components/JProgress/JProgressBar.vue
  src/components/index.ts
  src/dev/dev.ts
  src/entry.esm.ts
  src/entry.ts
  src/index.ts
  src/styles/base/reset.scss
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Release v0.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: 型定義ファイルのパスを修正
  package.json
Due: prettier --write

docs: スタイルシートの読み込みについての記述を追加
  docs/getting-started.md
Due: none

Release v0.4.1
  package-lock.json
  package.json
Due: prettier --write

fix: スクロールバーが存在する場合に左右の余白がずれる問題を修正
  src/components/JApp/JApp.vue
  src/components/JApp/JAppHeader.vue
  src/components/JApp/JAppMain.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): update dependency eslint-plugin-vue to v8.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jest to v27.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vue-tsc to v0.31.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/core to v7.17.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jest to v27.5.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/core to v7.17.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.3.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sass to v1.49.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/jest to v27.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v16.2.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update storybook monorepo to v6.4.19
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.3.5
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss})
