Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

style: stylelintのエラーを修正
  src/components/JButton/JButton.vue
  src/components/JCard/JCard.vue
  src/components/JImage/JImage.vue
  src/components/JProgress/JProgressBar.vue
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: 依存関係を更新
  package-lock.json
  package.json
Due: prettier --write

build: 依存関係アップデート
  package-lock.json
  package.json
Due: prettier --write

ci: サードパーティ製actionsのバージョン指定を変更
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: テキストフィールドのラベルなどを表示するヘッダーを実装
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
  src/components/JInput/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: コンポーネントからデフォルトのexportを削除
  src/components/JApp/index.ts
  src/components/JBreadcrumbs/index.ts
  src/components/JButton/index.ts
  src/components/JCard/index.ts
  src/components/JGrid/index.ts
  src/components/JIcon/index.ts
  src/components/JImage/index.ts
  src/components/JPagination/index.ts
  src/components/JProgress/index.ts
  src/components/JSheet/index.ts
  src/components/JTable/index.ts
Due: eslint --fix, prettier --write

style: 各propsの説明コメントの記述形式を変更
  src/components/JApp/JApp.vue
  src/components/JBreadcrumbs/JBreadcrumbs.vue
  src/components/JButton/JButton.vue
  src/components/JCard/JCard.vue
  src/components/JGrid/JCol.vue
  src/components/JGrid/JContainer.vue
  src/components/JGrid/JRow.vue
  src/components/JIcon/JIcon.vue
  src/components/JImage/JImage.vue
  src/components/JPagination/JPagination.vue
  src/components/JProgress/JProgressBar.vue
  src/components/JProgress/JProgressCircle.vue
  src/components/JSheet/JSheet.vue
  src/components/JTable/JTable.vue
  src/components/JTable/JTableFooter.vue
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: ラベルのテキストを選択できないよう変更
  src/components/JInput/JInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 装飾の色をまとめて指定するよう変更
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: テキスト入力部分を実装
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドとラベルにランダム生成したidを付与するよう変更
  package-lock.json
  package.json
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: テキストフィールドコンポーネントを複数設置した場合にidが重複する問題を修正
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: issueテンプレートを追加
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

fix: 不要なファイルが生成されていたのを削除
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: 入力欄の前後に任意のテキストやアイコンなどを入れられるようslotを追加
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドにdisabledを設定できるよう変更
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドを読み取り専用に設定できるよう変更
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドにエラー表示を追加
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
  src/styles/includes/colors.scss
  src/utils/colors.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドに成功表示を追加
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
  src/styles/includes/colors.scss
  src/utils/colors.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドに文字数カウンタ表示を追加
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキストフィールドにヒント表示を追加
  dev/serve.vue
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: typeにpasswordを設定できない問題を修正
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: カウンタの文字色をerrorとsuccessの値に応じて変化させるよう変更
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: counter-maxをcounter-lengthに変更
  dev/serve.vue
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: inputとtextfieldのstoryを追加
  src/components/JInput/JInput.stories.js
  src/components/JInput/JTextField.stories.js
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: inputとtextfieldのドキュメントを追加
  docs/components/input.md
  docs/components/text-field.md
  docs/index.md
Due: none

feat: textareaコンポーネントを追加
  dev/serve.vue
  src/components/JInput/JTextarea.vue
  src/components/JInput/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: textfieldのcounterに不要なスタイルが残っていたのを削除
  src/components/JInput/JTextField.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: テキスト入力部分のスタイルを追加
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: textareaに文字数カウンタを追加
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: textarea下部のメッセージ表示部分を追加
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: textareaにdisabledとreadonlyを指定できるよう変更
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: resizeを有効にするかどうかを選択できるよう変更
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: textfieldの高さを行数で指定できるよう変更
  dev/serve.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: textareaのstoryを追加
  src/components/JInput/JTextarea.stories.js
Due: eslint --fix, prettier --write

docs: textareaのドキュメントを追加
  docs/components/textarea.md
  docs/index.md
Due: none

chore: slotのappendをappend-outerへ変更
  dev/serve.vue
  src/components/JInput/JTextField.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: テキスト入力の枠線内に任意のコンテンツを追加するslotを追加
  dev/serve.vue
  docs/components/text-field.md
  docs/components/textarea.md
  src/components/JInput/JTextField.stories.js
  src/components/JInput/JTextField.vue
  src/components/JInput/JTextarea.stories.js
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: required指定時にタグにrequired属性を付与するよう変更
  src/components/JInput/JTextField.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: テキスト入力コンポーネントの前後に追加したコンテンツのクリックイベントを追加
  dev/serve.vue
  src/components/JInput/JTextField.vue
  src/components/JInput/JTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss})
