Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.vue": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

chore(deps): update dependency lint-staged to v12.1.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-replace to v3.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v25.3.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/jest to v27.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.16.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-alias to v3.1.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.1.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sass to v1.45.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-jest to v25.3.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.1.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.25.4
  package-lock.json
  package.json
Due: prettier --write

Release v0.2.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.9.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.63.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jest to v27.4.6
  package-lock.json
  package.json
Due: prettier --write

ci: 依存関係更新のプルリクエストでcodecovを実行しないよう変更
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jest to v27.4.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sass to v1.46.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency vue-loader to v17
  package-lock.json
  package.json
Due: prettier --write

ci: chromaticの設定を追加
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

chore: chromaticのworkflowを調整
  .github/workflows/ci.yml
Due: none

ci: chromaticのworkflowを変更
  .github/workflows/ci.yml
Due: none

ci: chromaticのworkflowをpush時のみの実行に変更
  .github/workflows/ci.yml
  .github/workflows/visual-regression.yml
Due: none

fix: checkoutでfetch-depthの指定がなくエラーとなっていた問題を修正
  .github/workflows/visual-regression.yml
Due: none

chore(deps): update dependency vitepress to v0.21.4
  package-lock.json
  package.json
Due: prettier --write

chore: browserslistを更新
  .browserslistrc
Due: none

chore: licenseを更新
  LICENSE
Due: none

ci: renovateの実行頻度を週1に変更
  .renovaterc.json
Due: prettier --write

Release v0.3.0
  package-lock.json
  package.json
Due: prettier --write

fix: renovateの設定を修正
  .renovaterc.json
Due: prettier --write

fix: ドキュメントのヘッダーからstorybookへ移動できない問題を修正
  docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

build: ビルドの設定を変更
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write

build: コンポーネントの読み込み方法を変更
  src/dev/dev.ts
  src/dev/dev.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: グローバルナビゲーションの1層目表示部分を実装
  src/components/JApp/JAppHeader.vue
  src/components/JApp/JAppHeaderButton.vue
  src/components/JApp/JAppHeaderNavigation.vue
  src/components/JApp/JAppMain.vue
  src/components/JApp/index.ts
  src/dev/dev.vue
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): update dependency lint-staged to v12.1.7
  package-lock.json
  package.json
Due: prettier --write

fix: 画面サイズが変更された場合にナビゲーション位置がずれる問題を修正
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 現在の表示状態を指定する方法を変更
  src/components/JApp/JAppHeaderNavigation.vue
  src/dev/dev.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 子孫アイテムの生成処理を追加
  src/components/JApp/JAppHeaderNavigation.vue
Due: eslint --fix, prettier --write, stylelint --fix
