Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: appコンポーネントのドキュメントを追加
  docs/components/app.md
Due: none

feat: spacing用のutilityクラスを追加
  .stylelintrc.js
  src/sass/utils/index.scss
  src/sass/utils/spacing.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: ressを追加
  .storybook/global.css
  .storybook/preview.js
  src/components/JApp.vue
  src/sass/base/fonts.scss
  src/sass/base/index.scss
  src/sass/base/reset.scss
  src/sass/includes/variables.scss
  src/stories/Button.stories.js
  src/stories/Card.stories.js
  src/stories/Image.stories.js
  src/stories/Pagination.stories.js
  src/stories/ProgressBar.stories.js
  src/stories/ProgressCircle.stories.js
  src/stories/Table.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: text用のutilityクラスを追加
  src/sass/utils/index.scss
  src/sass/utils/typography.scss
Due: stylelint --fix

docs: spacingのドキュメントを追加
  docs/utilities/spacing.md
Due: none

docs: typographyのドキュメントを追加
  docs/utilities/typography.md
Due: none

docs: utilityディレクトリのドキュメントをindexの目次に追加
  docs/index.md
Due: none

chore: appコンポーネントのスタイルを調整
  src/components/JApp.vue
Due: eslint --fix, prettier --write

chore: グリッドシステムのコンポーネントのスタイルを調整
  src/components/JCol.vue
  src/components/JRow.vue
Due: eslint --fix, prettier --write

ci: lintの設定を調整
  .eslintrc.js
  .lintstagedrc
  src/components/JCard.vue
  src/components/JProgressCircle.vue
Due: eslint --fix, prettier --write

chore: 表示確認用の画面を調整
  dev/serve.vue
Due: eslint --fix, prettier --write

chore: containerのスタイルを調整
  dev/serve.vue
  src/components/JContainer.vue
Due: eslint --fix, prettier --write

feat: containerコンポーネントのタグを変更できるようpropを追加
  docs/components/container.md
  src/components/JContainer.vue
Due: eslint --fix, prettier --write

feat: 装飾のないボタンを使用できるようpropを追加
  dev/serve.vue
  src/components/JButton.vue
Due: eslint --fix, prettier --write

docs: ボタンのドキュメントを更新
  docs/components/button.md
  src/stories/Button.stories.js
Due: eslint --fix, prettier --write

chore: storybookとbabelの設定を修正
  .storybook/main.js
  babel.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: 開発用画面で画像を読み込めない問題を修正
  dev/serve.vue
Due: eslint --fix, prettier --write

feat: tableコンポーネントにheadスロットを実装
  dev/serve.vue
  src/components/JTable.vue
  src/components/JTableHeader.vue
Due: eslint --fix, prettier --write

feat: tableコンポーネントにbodyスロットを実装
  src/components/JTable.vue
Due: eslint --fix, prettier --write

feat: tableコンポーネントにitemスロットを実装
  dev/serve.vue
  src/components/JTable.vue
Due: eslint --fix, prettier --write

docs: tableのドキュメントを更新
  docs/components/table-header.md
  docs/components/table.md
  src/stories/Button.stories.js
  src/stories/Card.stories.js
  src/stories/Table.stories.js
Due: eslint --fix, prettier --write

Release v0.0.14
  package-lock.json
  package.json
Due: prettier --write

chore: appコンポーネントの高さをautoにできるよう変更
  docs/components/app.md
  src/components/JApp.vue
  src/stories/Button.stories.js
  src/stories/Card.stories.js
  src/stories/Image.stories.js
  src/stories/Pagination.stories.js
  src/stories/ProgressBar.stories.js
  src/stories/ProgressCircle.stories.js
  src/stories/Table.stories.js
Due: eslint --fix, prettier --write

chore: progressのstorybookを別ページに分けるよう変更
  src/stories/ProgressBar.stories.js
  src/stories/ProgressCircle.stories.js
Due: eslint --fix, prettier --write

feat: シートのコンポーネントを追加
  dev/serve.vue
  src/components/JSheet.vue
  src/index.js
Due: eslint --fix, prettier --write

chore: cardコンポーネントの中身をsheetに置き換え
  src/components/JCard.vue
Due: eslint --fix, prettier --write

docs: sheetのドキュメントを追加
  docs/components/sheet.md
  src/stories/Sheet.stories.js
Due: eslint --fix, prettier --write

build: typescriptの導入
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .storybook/main.js
  .stylelintignore
  babel.config.js
  build/rollup.config.js
  dev/serve.ts
  jsconfig.json
  package-lock.json
  package.json
  shims-tsx.d.ts
  shims-vue.d.ts
  src/components/JApp.vue
  src/components/JButton.vue
  src/components/JCard.vue
  src/components/JCol.vue
  src/components/JContainer.vue
  src/components/JImage.vue
  src/components/JPagination.vue
  src/components/JProgressBar.vue
  src/components/JProgressCircle.vue
  src/components/JRow.vue
  src/components/JSheet.vue
  src/components/JTable.vue
  src/components/JTableFooter.vue
  src/components/JTableHeader.vue
  src/entry.esm.ts
  src/entry.ts
  src/index.ts
  src/utils/colors.ts
  src/utils/sizes.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: typescriptのバージョンを変更
  package.json
Due: prettier --write

chore: vscode用の設定を追加
  .vscode/settings.json
Due: prettier --write

Release v0.1.0
  package-lock.json
  package.json
Due: prettier --write

fix: ビルドに失敗する問題を修正
  build/rollup.config.js
  package-lock.json
  src/components/JButton.vue
  src/components/JCard.vue
  src/components/JImage.vue
  src/components/JTable.vue
  src/components/JTableFooter.vue
Due: eslint --fix, prettier --write

chore: package.jsonのレジストリ設定を変更
  package.json
Due: prettier --write

chore: npmjsへの公開に対応
  .github/workflows/release.yml
Due: none

feat: ページネーションコンポーネントの線の色を指定できるよう変更
  docs/components/pagination.md
  src/components/JPagination.vue
  src/stories/Pagination.stories.js
Due: eslint --fix, prettier --write

docs: readmeを更新
  README.md
Due: none

Release v0.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: アイコンのコンポーネントを追加
  dev/serve.vue
  src/components/JButton.vue
  src/components/JIcon.vue
  src/index.ts
  src/styles/base/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: アイコンコンポーネントのドキュメントを追加
  docs/components/icon.md
  docs/index.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: any of: *.{js,vue,json}
  stylelint --fix: any of: *.{css,scss}
