Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.vue": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

docs: iconコンポーネントをstorybookに追加
  src/stories/Icon.stories.js
Due: eslint --fix, prettier --write

chore: コンポーネント内のsvgアイコンをアイコンコンポーネントに変更
  src/components/JPagination.vue
  src/components/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: ベースのクラスをsetup内のclassesに含めるよう変更
  src/components/JApp.vue
  src/components/JButton.vue
  src/components/JCard.vue
  src/components/JCol.vue
  src/components/JContainer.vue
  src/components/JIcon.vue
  src/components/JImage.vue
  src/components/JPagination.vue
  src/components/JProgressBar.vue
  src/components/JProgressCircle.vue
  src/components/JRow.vue
  src/components/JSheet.vue
  src/components/JTable.vue
  src/components/JTableFooter.vue
  src/components/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: コマンド名を変更
  .github/CONTRIBUTING.md
  package.json
Due: prettier --write

refactor: ボタンコンポーネントをリファクタリング
  package.json
  src/components/JButton.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 初期値を設定しないpropsをnullではなくundefinedに変更
  docs/components/button.md
  docs/components/card.md
  docs/components/col.md
  docs/components/container.md
  docs/components/icon.md
  docs/components/image.md
  docs/components/sheet.md
  src/components/JCard.vue
  src/components/JCol.vue
  src/components/JContainer.vue
  src/components/JIcon.vue
  src/components/JImage.vue
  src/components/JSheet.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: storybookを更新
  package-lock.json
  package.json
Due: prettier --write

docs: readmeのbadgeを変更
  README.md
Due: none

Release v0.1.2
  package-lock.json
  package.json
Due: prettier --write

docs: ドキュメントの誤りを修正
  docs/components/button.md
  docs/components/card.md
  docs/components/col.md
  docs/components/container.md
  docs/components/icon.md
  docs/components/image.md
  docs/components/sheet.md
Due: none

build: stylelintを14に更新
  .stylelintrc.js
  package-lock.json
  package.json
  src/components/JButton.vue
  src/components/JCard.vue
  src/components/JImage.vue
  src/components/JPagination.vue
  src/components/JProgressBar.vue
  src/components/JSheet.vue
  src/components/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

test: jestを導入
  .babelrc.js
  .eslintrc.js
  .husky/pre-push
  .jestrc.js
  build/rollup.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

test: utilsのcolorsについてのテストコードを追加
  src/utils/__tests__/colors.spec.ts
Due: eslint --fix, prettier --write

refactor: colorsの関数をリファクタリング
  src/utils/colors.ts
Due: eslint --fix, prettier --write

ci: workflowにjestのテスト実行を追加
  .github/workflows/ci.yml
Due: none

ci: workflowを変更
  .github/workflows/ci.yml
Due: none

docs: readmeにcodecovのバッジを追加
  README.md
Due: none

test: ブランドカラーのテストを追加
  src/utils/__tests__/colors.spec.ts
Due: eslint --fix, prettier --write

ci: github pagesへのドキュメントのデプロイ処理をworkflowに追加
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
Due: none

Release v0.1.3
  package-lock.json
  package.json
Due: prettier --write

build: 依存関係をアップデート
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

build: コンフリクトを修正
  package-lock.json
Due: prettier --write

ci: storybookの処理をworkflowに追加
  .github/workflows/ci.yml
  .gitignore
Due: none

refactor: コンポーネントごとにディレクトリを作成し関連ファイルをまとめるよう変更
  src/assets/sample.png
  src/components/JApp/JApp.vue
  src/components/JApp/index.ts
  src/components/JButton/JButton.stories.js
  src/components/JButton/JButton.vue
  src/components/JButton/index.ts
  src/components/JCard/JCard.stories.js
  src/components/JCard/JCard.vue
  src/components/JCard/index.ts
  src/components/JContainer/JContainer.vue
  src/components/JContainer/index.ts
  src/components/JGrid/JCol.vue
  src/components/JGrid/JRow.vue
  src/components/JGrid/index.ts
  src/components/JIcon/JIcon.stories.js
  src/components/JIcon/JIcon.vue
  src/components/JIcon/index.ts
  src/components/JImage/JImage.stories.js
  src/components/JImage/JImage.vue
  src/components/JImage/index.ts
  src/components/JPagination/JPagination.stories.js
  src/components/JPagination/JPagination.vue
  src/components/JPagination/index.ts
  src/components/JProgress/JProgressBar.stories.js
  src/components/JProgress/JProgressBar.vue
  src/components/JProgress/JProgressCircle.stories.js
  src/components/JProgress/JProgressCircle.vue
  src/components/JProgress/index.ts
  src/components/JSheet/JSheet.stories.js
  src/components/JSheet/JSheet.vue
  src/components/JSheet/index.ts
  src/components/JTable/JTable.stories.js
  src/components/JTable/JTable.vue
  src/components/JTable/JTableFooter.vue
  src/components/JTable/JTableHeader.vue
  src/components/JTable/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: vscodeの自動整形設定を追加
  .vscode/settings.json
Due: prettier --write

docs: storyをvue3の記法に変更
  src/components/JButton/JButton.stories.js
  src/components/JCard/JCard.stories.js
  src/components/JIcon/JIcon.stories.js
  src/components/JImage/JImage.stories.js
  src/components/JPagination/JPagination.stories.js
  src/components/JProgress/JProgressBar.stories.js
  src/components/JProgress/JProgressCircle.stories.js
  src/components/JSheet/JSheet.stories.js
  src/components/JTable/JTable.stories.js
Due: eslint --fix, prettier --write

chore: vscodeでmarkdownを自動整形しないよう変更
  .vscode/settings.json
Due: prettier --write

refactor: コンポーネントのpropsにコメントを追加
  docs/components/button.md
  docs/components/card.md
  docs/components/container.md
  docs/components/icon.md
  docs/components/image.md
  src/components/JApp/JApp.vue
  src/components/JButton/JButton.vue
  src/components/JCard/JCard.vue
  src/components/JContainer/JContainer.vue
  src/components/JGrid/JCol.vue
  src/components/JGrid/JRow.vue
  src/components/JIcon/JIcon.vue
  src/components/JImage/JImage.vue
  src/components/JPagination/JPagination.vue
  src/components/JProgress/JProgressBar.vue
  src/components/JProgress/JProgressCircle.vue
  src/components/JSheet/JSheet.vue
  src/components/JTable/JTable.stories.js
  src/components/JTable/JTable.vue
  src/components/JTable/JTableFooter.vue
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: グリッドシステムのコンポーネントをstorybookに追加
  package-lock.json
  src/components/JContainer/index.ts
  src/components/JGrid/JContainer.vue
  src/components/JGrid/JGrid.stories.js
  src/components/JGrid/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Release v0.1.4
  package-lock.json
  package.json
Due: prettier --write

docs: readmeを更新
  README.md
Due: none

chore: editorconfigを追加
  .editorconfig
Due: none

feat: パンくずリストのコンポーネントを追加
  dev/serve.vue
  src/components/JBreadcrumbs/JBreadcrumbs.vue
  src/components/JBreadcrumbs/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: 最後のアイテムのテキストのみを太字にするよう調整
  src/components/JBreadcrumbs/JBreadcrumbs.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: sassのroot変数の形式を変更
  src/components/JApp/JApp.vue
  src/components/JBreadcrumbs/JBreadcrumbs.vue
  src/components/JButton/JButton.vue
  src/components/JCard/JCard.vue
  src/components/JGrid/JCol.vue
  src/components/JGrid/JContainer.vue
  src/components/JGrid/JRow.vue
  src/components/JIcon/JIcon.vue
  src/components/JImage/JImage.vue
  src/components/JPagination/JPagination.vue
  src/components/JProgress/JProgressBar.vue
  src/components/JProgress/JProgressCircle.vue
  src/components/JSheet/JSheet.vue
  src/components/JTable/JTable.vue
  src/components/JTable/JTableFooter.vue
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: パンくずリストのコンポーネントのドキュメントを追加
  docs/components/breadcrumbs.md
  docs/index.md
  src/components/JBreadcrumbs/JBreadcrumbs.stories.js
Due: eslint --fix, prettier --write

build: 依存関係アップデート
  package.json
Due: prettier --write

Release v0.1.5
  package-lock.json
  package.json
Due: prettier --write

chore: readmeの画像をダークモードに対応
  README.md
Due: none

ci: dependabotのgithubactionsに関する設定を変更
  .github/dependabot.yml
  .github/workflows/release.yml
  .vscode/settings.json
Due: prettier --write
