Repository jaoafa/jao-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.vue": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

docs: テキスト入力コンポーネントのeventについてのドキュメントを更新
  docs/components/text-field.md
  docs/components/textarea.md
  src/components/JInput/JTextField.stories.js
  src/components/JInput/JTextarea.stories.js
Due: eslint --fix, prettier --write

Release v0.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency css-loader to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v8
  package.json
Due: prettier --write

chore(deps): update dependency sass-loader to v12
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency style-loader to v3
  package-lock.json
  package.json
Due: prettier --write

chore: vscodeの推奨拡張機能の設定を追加
  .vscode/extensions.json
Due: prettier --write

chore: 設定ファイルの名前を変更
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc
  .prettierrc.js
  .renovaterc.json
  renovate.json
Due: eslint --fix, prettier --write

ci: renovateの設定を変更
  .github/dependabot.yml
  .renovaterc.json
Due: prettier --write

docs: ドキュメントを更新
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

chore(deps): update babel monorepo to v7.16.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-jest to v27.1.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.5.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.1.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sass-loader to v11
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency stylelint to v14.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency sass to v1.45.1
  package-lock.json
  package.json
Due: prettier --write

feat: アプリケーションのメインとヘッダーのコンポーネントを追加
  dev/serve.vue
  src/components/JApp/JApp.vue
  src/components/JApp/JAppHeader.vue
  src/components/JApp/JAppMain.vue
  src/components/JApp/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: ヘッダーを上部に固定できるよう変更
  dev/serve.vue
  src/components/JApp/JAppHeader.vue
  src/components/JApp/JAppMain.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 最大幅の制限を削除できるよう変更
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: ヘッダーが固定でない場合に余分な上部の余白が入ってしまう問題を修正
  src/components/JApp/JAppMain.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: appコンポーネントをgridベースで組み直し
  dev/serve.vue
  src/components/JApp/JApp.vue
  src/components/JApp/JAppHeader.vue
  src/components/JApp/JAppMain.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: storybookの表示崩れを修正
  src/components/JApp/JAppMain.vue
  src/components/JBreadcrumbs/JBreadcrumbs.stories.js
  src/components/JButton/JButton.stories.js
  src/components/JCard/JCard.stories.js
  src/components/JGrid/JGrid.stories.js
  src/components/JIcon/JIcon.stories.js
  src/components/JImage/JImage.stories.js
  src/components/JInput/JInput.stories.js
  src/components/JInput/JTextField.stories.js
  src/components/JInput/JTextarea.stories.js
  src/components/JPagination/JPagination.stories.js
  src/components/JProgress/JProgressBar.stories.js
  src/components/JProgress/JProgressCircle.stories.js
  src/components/JSheet/JSheet.stories.js
  src/components/JTable/JTable.stories.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: アプリケーションのサイドバーのコンポーネントを追加
  dev/serve.vue
  src/components/JApp/JAppSidebar.vue
  src/components/JApp/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: onloadイベントが正しく動作しない問題を修正
  docs/components/image.md
  src/components/JImage/JImage.stories.js
  src/components/JImage/JImage.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 内部にコンテンツを配置した場合のヘッダーのスタイルを調整
  dev/serve.vue
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: 高さを減らしたヘッダーを利用できるよう変更
  src/components/JApp/JAppHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: app関連コンポーネントのドキュメントを追加
  docs/components/app-header.md
  docs/components/app-main.md
  docs/components/app-sidebar.md
  docs/index.md
Due: none

feat: グリッドシステムのスペーサーコンポーネントを追加
  dev/serve.vue
  src/components/JGrid/JSpacer.vue
  src/components/JGrid/index.ts
  src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: スペーサーのドキュメントを追加
  docs/components/spacer.md
  docs/index.md
  src/components/JGrid/JGrid.stories.js
Due: eslint --fix, prettier --write

docs: tagのdefault値が間違っていた問題を修正
  docs/components/app-header.md
  docs/components/app-sidebar.md
  docs/components/col.md
  docs/components/row.md
Due: none

style: linterやtypescriptのエラーを修正
  src/components/JInput/JInput.vue
  src/components/JInput/JTextField.vue
  src/components/JPagination/JPagination.vue
  src/components/JProgress/JProgressBar.vue
  src/components/JProgress/JProgressCircle.vue
  src/components/JTable/JTable.vue
  src/components/JTable/JTableHeader.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: 不要なパッケージを削除
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.8.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.62.0
  package-lock.json
  package.json
Due: prettier --write
